tags = {
  Project     = "MNO_Public_Registration"
  Environment = "Dev"
  Owner       = "roger.rabbit"
}

db_identifier = "db-dev"
db_username   = "admin"
db_password   = "password"

allowed_cidrs = [
  "0.0.0.0/32"
]

cognito_custom_domain = "example.com"
callback_urls         = ["https://example.com/login/callback"]
logout_urls           = ["https://example.com/logout"]

user_pool_name   = "user-pool-dev"
user_pool_domain = "domain-dev"
app_client_name  = "app-client-dev"

admin_user_email       = "roger.rabbit@example.com"
admin_user_password    = "password"

cloudflare_api_token = "1234567890"
cloudflare_zone_id   = "1234567890"
