-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."additional_relationships" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "person_id" UUID NOT NULL,
    "related_person_id" UUID NOT NULL,
    "relationship_label" TEXT NOT NULL,
    "notes" TEXT,

    CONSTRAINT "additional_relationships_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."address_change_forms" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "application_id" UUID,
    "citizenship_number" TEXT,
    "want_replacement_card" BOOLEAN,
    "want_change_name" BOOLEAN,
    "gender_id" INTEGER,
    "another_gender_value" TEXT,

    CONSTRAINT "address_change_forms_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."application_statuses" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "html_value_en" TEXT NOT NULL,
    "html_value_fr" TEXT NOT NULL,

    CONSTRAINT "application_statuses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."application_types" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "html_value_en" TEXT NOT NULL,
    "html_value_fr" TEXT NOT NULL,
    "parent_type_id" INTEGER,

    CONSTRAINT "application_types_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."applications" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "type_id" INTEGER,
    "status_id" INTEGER,
    "airtable_ticket_id" TEXT,
    "finalized_date" TIMESTAMP(6),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "applications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."citizenship_applications" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "application_id" UUID,
    "subtype_id" INTEGER,
    "transfer_status" TEXT,

    CONSTRAINT "citizenship_applications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."contacts" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "person_id" UUID,
    "street_address" TEXT,
    "unit" TEXT,
    "po_box" TEXT,
    "rr" TEXT,
    "city" TEXT,
    "province" TEXT,
    "postal_code" TEXT,
    "telephone1" TEXT,
    "telephone2" TEXT,
    "email" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "contacts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."document_relationships" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "document_id" UUID,
    "person_id" UUID,
    "application_id" UUID,
    "relation_description" TEXT,

    CONSTRAINT "document_relationships_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."document_types" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "html_value_en" TEXT NOT NULL,
    "html_value_fr" TEXT NOT NULL,

    CONSTRAINT "document_types_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."documents" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "s3_key" TEXT NOT NULL,
    "file_name" TEXT,
    "original_file_name" TEXT,
    "type_id" INTEGER,
    "description" TEXT,
    "uploaded_by" UUID,
    "deleted_at" TIMESTAMP(6),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "documents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."family_relationships" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "person_id" UUID NOT NULL,
    "related_person_id" UUID NOT NULL,
    "relationship_type_id" INTEGER,
    "notes" TEXT,

    CONSTRAINT "family_relationships_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."gender_types" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "html_value_en" TEXT NOT NULL,
    "html_value_fr" TEXT NOT NULL,

    CONSTRAINT "gender_types_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."harvesting_applications" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "application_id" UUID,
    "region_id" UUID,
    "captain_id" UUID,
    "tht_id" UUID,
    "subtype_id" INTEGER,
    "purpose_id" INTEGER,
    "use_firearm" BOOLEAN,
    "denial_reason" TEXT,

    CONSTRAINT "harvesting_applications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."harvesting_captains" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID,
    "region_id" UUID,
    "title" TEXT,
    "notes" TEXT,
    "first_name" TEXT,
    "last_name" TEXT,
    "email" TEXT,
    "phonenumber" TEXT,
    "address" TEXT,
    "toll_free" TEXT,

    CONSTRAINT "harvesting_captains_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."harvesting_purposes" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "html_value_en" TEXT NOT NULL,
    "html_value_fr" TEXT NOT NULL,

    CONSTRAINT "purposes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."harvesting_regions" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" TEXT NOT NULL,
    "is_enabled" BOOLEAN DEFAULT true,

    CONSTRAINT "harvesting_regions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."harvesting_territories" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "region_id" UUID,
    "name" TEXT NOT NULL,
    "is_enabled" BOOLEAN DEFAULT true,

    CONSTRAINT "harvesting_territories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."persons" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID,
    "first_name" TEXT NOT NULL,
    "middle_name" TEXT,
    "last_name" TEXT NOT NULL,
    "maiden_name" TEXT,
    "gender_id" INTEGER,
    "another_gender_value" TEXT,
    "birth_date" DATE,
    "email" TEXT,
    "is_metis" BOOLEAN DEFAULT false,
    "citizenship_number" TEXT,
    "birth_place" TEXT,
    "death_place" TEXT,
    "death_date" DATE,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "persons_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."relationship_types" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "html_value_en" TEXT NOT NULL,
    "html_value_fr" TEXT NOT NULL,

    CONSTRAINT "relationship_types_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."signature_documents" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "application_id" UUID,
    "document_id" UUID,
    "document_type" TEXT,
    "signature_status" TEXT,
    "sent_on" TIMESTAMP(6),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "signature_documents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."signers" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "signature_document_id" UUID,
    "person_id" UUID,
    "role" TEXT,
    "signed_on" TIMESTAMP(6),

    CONSTRAINT "signers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."users" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "cognito_sub" UUID NOT NULL,
    "email" TEXT NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "status" TEXT NOT NULL DEFAULT 'pending_verification',
    "email_verified_at" TIMESTAMPTZ(6),

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "application_statuses_name_key" ON "public"."application_statuses"("code");

-- CreateIndex
CREATE UNIQUE INDEX "application_types_name_key" ON "public"."application_types"("code");

-- CreateIndex
CREATE INDEX "idx_applications_status_id" ON "public"."applications"("status_id");

-- CreateIndex
CREATE INDEX "idx_applications_type_id" ON "public"."applications"("type_id");

-- CreateIndex
CREATE INDEX "idx_applications_user_id" ON "public"."applications"("user_id");

-- CreateIndex
CREATE INDEX "idx_citizenship_applications_application_id" ON "public"."citizenship_applications"("application_id");

-- CreateIndex
CREATE INDEX "idx_citizenship_applications_subtype_id" ON "public"."citizenship_applications"("subtype_id");

-- CreateIndex
CREATE INDEX "idx_contacts_person_id" ON "public"."contacts"("person_id");

-- CreateIndex
CREATE UNIQUE INDEX "document_types_name_key" ON "public"."document_types"("code");

-- CreateIndex
CREATE INDEX "idx_documents_s3_key" ON "public"."documents"("s3_key");

-- CreateIndex
CREATE INDEX "idx_documents_type_id" ON "public"."documents"("type_id");

-- CreateIndex
CREATE INDEX "idx_documents_uploaded_by" ON "public"."documents"("uploaded_by");

-- CreateIndex
CREATE UNIQUE INDEX "gender_types_name_key" ON "public"."gender_types"("code");

-- CreateIndex
CREATE INDEX "idx_harvesting_applications_app_id" ON "public"."harvesting_applications"("application_id");

-- CreateIndex
CREATE INDEX "idx_harvesting_applications_captain_id" ON "public"."harvesting_applications"("captain_id");

-- CreateIndex
CREATE INDEX "idx_harvesting_applications_purpose_id" ON "public"."harvesting_applications"("purpose_id");

-- CreateIndex
CREATE INDEX "idx_harvesting_applications_region_id" ON "public"."harvesting_applications"("region_id");

-- CreateIndex
CREATE INDEX "idx_harvesting_applications_subtype_id" ON "public"."harvesting_applications"("subtype_id");

-- CreateIndex
CREATE INDEX "idx_harvesting_applications_tht_id" ON "public"."harvesting_applications"("tht_id");

-- CreateIndex
CREATE UNIQUE INDEX "purposes_name_key" ON "public"."harvesting_purposes"("code");

-- CreateIndex
CREATE INDEX "idx_persons_citizenship_number" ON "public"."persons"("citizenship_number");

-- CreateIndex
CREATE INDEX "idx_persons_gender_id" ON "public"."persons"("gender_id");

-- CreateIndex
CREATE INDEX "idx_persons_user_id" ON "public"."persons"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "relationship_types_name_key" ON "public"."relationship_types"("code");

-- CreateIndex
CREATE UNIQUE INDEX "users_cognito_sub_key" ON "public"."users"("cognito_sub");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_unique" ON "public"."users"("email");

-- CreateIndex
CREATE INDEX "idx_users_email" ON "public"."users"("email");

-- CreateIndex
CREATE INDEX "idx_users_status" ON "public"."users"("status");

-- AddForeignKey
ALTER TABLE "public"."additional_relationships" ADD CONSTRAINT "additional_relationships_person_id_fkey" FOREIGN KEY ("person_id") REFERENCES "public"."persons"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."additional_relationships" ADD CONSTRAINT "additional_relationships_related_person_id_fkey" FOREIGN KEY ("related_person_id") REFERENCES "public"."persons"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."address_change_forms" ADD CONSTRAINT "address_change_forms_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "public"."applications"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."address_change_forms" ADD CONSTRAINT "address_change_forms_gender_id_fkey" FOREIGN KEY ("gender_id") REFERENCES "public"."gender_types"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."application_types" ADD CONSTRAINT "application_types_parent_type_id_fkey" FOREIGN KEY ("parent_type_id") REFERENCES "public"."application_types"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."applications" ADD CONSTRAINT "applications_status_id_fkey" FOREIGN KEY ("status_id") REFERENCES "public"."application_statuses"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."applications" ADD CONSTRAINT "applications_type_id_fkey" FOREIGN KEY ("type_id") REFERENCES "public"."application_types"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."applications" ADD CONSTRAINT "applications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."citizenship_applications" ADD CONSTRAINT "citizenship_applications_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "public"."applications"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."citizenship_applications" ADD CONSTRAINT "citizenship_applications_subtype_id_fkey" FOREIGN KEY ("subtype_id") REFERENCES "public"."application_types"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."contacts" ADD CONSTRAINT "contacts_person_id_fkey" FOREIGN KEY ("person_id") REFERENCES "public"."persons"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."document_relationships" ADD CONSTRAINT "document_relationships_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "public"."applications"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."document_relationships" ADD CONSTRAINT "document_relationships_document_id_fkey" FOREIGN KEY ("document_id") REFERENCES "public"."documents"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."document_relationships" ADD CONSTRAINT "document_relationships_person_id_fkey" FOREIGN KEY ("person_id") REFERENCES "public"."persons"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."documents" ADD CONSTRAINT "documents_type_id_fkey" FOREIGN KEY ("type_id") REFERENCES "public"."document_types"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."documents" ADD CONSTRAINT "documents_uploaded_by_fkey" FOREIGN KEY ("uploaded_by") REFERENCES "public"."users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."family_relationships" ADD CONSTRAINT "family_relationships_person_id_fkey" FOREIGN KEY ("person_id") REFERENCES "public"."persons"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."family_relationships" ADD CONSTRAINT "family_relationships_related_person_id_fkey" FOREIGN KEY ("related_person_id") REFERENCES "public"."persons"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."family_relationships" ADD CONSTRAINT "family_relationships_relationship_type_id_fkey" FOREIGN KEY ("relationship_type_id") REFERENCES "public"."relationship_types"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."harvesting_applications" ADD CONSTRAINT "harvesting_applications_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "public"."applications"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."harvesting_applications" ADD CONSTRAINT "harvesting_applications_captain_id_fkey" FOREIGN KEY ("captain_id") REFERENCES "public"."harvesting_captains"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."harvesting_applications" ADD CONSTRAINT "harvesting_applications_purpose_id_fkey" FOREIGN KEY ("purpose_id") REFERENCES "public"."harvesting_purposes"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."harvesting_applications" ADD CONSTRAINT "harvesting_applications_region_id_fkey" FOREIGN KEY ("region_id") REFERENCES "public"."harvesting_regions"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."harvesting_applications" ADD CONSTRAINT "harvesting_applications_subtype_id_fkey" FOREIGN KEY ("subtype_id") REFERENCES "public"."application_types"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."harvesting_applications" ADD CONSTRAINT "harvesting_applications_tht_id_fkey" FOREIGN KEY ("tht_id") REFERENCES "public"."harvesting_territories"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."harvesting_captains" ADD CONSTRAINT "harvesting_captains_region_id_fkey" FOREIGN KEY ("region_id") REFERENCES "public"."harvesting_regions"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."harvesting_captains" ADD CONSTRAINT "harvesting_captains_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."harvesting_territories" ADD CONSTRAINT "harvesting_territories_region_id_fkey" FOREIGN KEY ("region_id") REFERENCES "public"."harvesting_regions"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."persons" ADD CONSTRAINT "persons_gender_id_fkey" FOREIGN KEY ("gender_id") REFERENCES "public"."gender_types"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."persons" ADD CONSTRAINT "persons_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."signature_documents" ADD CONSTRAINT "signature_documents_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "public"."applications"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."signature_documents" ADD CONSTRAINT "signature_documents_document_id_fkey" FOREIGN KEY ("document_id") REFERENCES "public"."documents"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."signers" ADD CONSTRAINT "signers_person_id_fkey" FOREIGN KEY ("person_id") REFERENCES "public"."persons"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."signers" ADD CONSTRAINT "signers_signature_document_id_fkey" FOREIGN KEY ("signature_document_id") REFERENCES "public"."signature_documents"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

